.Die {
  font-size: 10em;
  padding: 0.25em;
  color: mediumvioletred;
}

.shaking {
  animation-name: wobble;
  animation-duration: 1s;
}

@keyframes wobble {
  0% { transform: translateX(0%); } 
  15% { transform: translateX(-50%) rotate(0deg); } 
  30% { transform: translateX(70%) rotate(180deg); } 
  45% { transform: translateX(50%) rotate(90deg); } 
  60% { transform: translateX(10%) rotate(2deg); }
  75% { transform: translateX(-5%) rotate(-1deg); }
  100% { transform: translateX(0%); } 
} 
